.wizard
{
  width: 100%;
  height: 100%;
  .wizard-header
  {
    position: fixed;
    z-index: 20;
    top: 0;

    width: 100%;
    padding: 1.6em 0;

    border-bottom: 1px solid color('white','shade');
    background-color: #fff;
    .steps-list
    {
      display: block;

      width: 600px;
      margin: 0 auto;

      text-align: center;
      .steps-list-item
      {
        display: inline-block;

        padding: 0 1.25em;

        text-align: center;
        vertical-align: middle;
      }
      .step
      {
        cursor: pointer ;
        user-select: none;
        text-align: center;

        opacity: .15;
        &.active
        {
          opacity: 1;
        }
        .step-dot
        {
          font-size: 12px;
          line-height: 24px;

          display: inline-block;

          width: 24px;
          height: 24px;
          margin: 0 auto;

          text-align: center;

          color: color('white');
          border-radius: 50%;
          background-color: color('gold');
        }
        .step-label
        {
          font-size: 11px;

          display: inline-block;

          width: 100%;
          margin-top: .25em;

          letter-spacing: 2px;
          text-transform: uppercase;

          color: color('gray','shade');
        }
      }
    }
  }
  .wizard-container
  {
    z-index: 10;
    top: 88px;
  }
}

.wizard-view-header
{
  position: relative;
  z-index: 30;
  .title
  {
    font-size: 12px;
    font-weight: normal;

    position: fixed;
    top: 88px;

    display: inline-block;

    width: 100%;
    margin: 0;
    padding: 1em 0;

    text-align: center;
    letter-spacing: .15em;
    text-transform: uppercase;

    color: white;
    background: color('gold');
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    &:after
    {
      position: absolute;
      bottom: -5px;
      left: 50%;

      display: block;

      width: 10px;
      height: 10px;
      margin-left: -10px;

      content: '';
      content: '';
      transform: rotate(45deg);

      background: color('gold');
    }
  }
}

.wizard-view-types
{
  .type-list
  {
    display: table;

    width: 100%;
    margin-top: 2em;

    text-align: center;
    > .type-list-item
    {
      display: table-cell;

      vertical-align: middle;
    }
  }
}

.wizard-view-container
{
  padding-top: 126px;
}

.wizard-view-order
{
  .bottle-fig
  {
    position: relative;
    top: calc(50% - 63px);
    left: 50%;

    width: 200px;
    height: 500px;

    transform: translate(-50%, -50%);
  }
  .fixed-left
  {
    z-index: 5;
    top: 126px;
    left: 50px;

    width: calc(50% - 25px);

    background: color('white','tint');
  }
  .rel-right
  {
    top: 38px;

    width: 50%;
    min-height: 100vh;

    background-color: #fff;
  }
}

.order-config
{
  .order-product-title
  {
    font-size: 14px;
    font-weight: 600;

    letter-spacing: .15em;
    text-transform: uppercase;
  }
  .form-control
  {
    display: inline-block;

    width: 50%;
    margin-left: 2em;
  }
  .product-price
  {
    font-size: 16px;

    color: color('gold');
  }
}
.th-label
{
  font-size: 11px;
  font-weight: normal;

  display: inline-block;

  letter-spacing: 2px;
  text-transform: uppercase;
}

.wizard-view-events
{
  position: relative;

  overflow: hidden;

  height: auto;
  .event-list
  {
    display: table;

    width: 750px;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;

    text-align: justify;
    > .event-list-item
    {
      display: inline-block;

      width: 250px;
      margin-bottom: 2em;

      cursor: pointer;
      text-align: center;
      vertical-align: middle;
      &:hover
      {
        .event-circle
        {
          border-color: color('gold');
          img
          {
            opacity: .9;
          }
        }
        .event-name
        {
          color: color('gold');;
        }
      }
      .event-name
      {
        font-size: 11px;

        display: inline-block;

        width: 100%;
        margin-top: 1em;

        transition: color 250ms ease-in-out;
        letter-spacing: 2px;
        text-transform: uppercase;

        color: color('gray','tint');
      }
      .event-circle
      {
        display: inline-block;

        transition: border-color 250ms ease-in-out;

        border: 1px solid color('white', 'shade');
        border-radius: 50%;
        img
        {
          display: inline-block;

          width: 200px;
          height: 200px;
          padding: 1em;

          transition: opacity 250ms ease-in-out;

          border-radius: 50%;
        }
      }
    }
  }
}

.wizard-view-design
{
  .fixed-left
  {
    width: 400px;

    background-color: color('white','shade');
  }
  .rel-right
  {
    overflow: hidden;

    width: calc(100% - 400px);
    height: auto;
  }
  .th-label
  {
    display: block;

    width: 100%;
    padding-bottom: 1em;
    strong
    {
      padding-right: 1em;

      color: color('gold');
    }
  }
}
.th-templates,
.th-upload-image,
.th-headlines
{
  padding: 1em;

  border: 1px solid color('white','shade');
  background-color: #fff;
  .th-label
  {
    border-bottom: 1px solid color('white','shade');;
  }
  .th-templates-wrap
  {
    overflow: auto;

    height: 172px;
    margin-top: 1.5em;

    border: 1px solid color('white','shade');
    background: color('white','tint');
  }
  .th-template-item
  {
    display: inline-block;

    margin: .5em;

    transition: border-color 250ms ease-in-out;
    vertical-align: middle;

    border: 1px solid color('white', 'shade');
    background-color: #fff;
    &:hover
    {
      border-color: color('gold');
      .template-block
      {
        opacity: .85;
      }
    }
    .template-block
    {
      padding: 1em;

      cursor: pointer;
      transition: opacity 250ms ease-in-out;
    }
  }
}

@import 'thimgtransform';

.th-upload-image
{
  margin: 2em 0;
  .th-label
  {
    border-bottom: 0;
  }
}

.label-final
{
  position: relative;

  overflow: hidden;

  width: 314px;
  height: 600px;
  margin: 0 auto;

  background: white;
  .label-final-base
  {
    position: absolute;
    z-index: 10;
    top: 0;
  }
  .label-final-image
  {
    position: absolute;
    z-index: 20;
    bottom: 140px;

    overflow: hidden;

    width: 315px;
    height: 223px;
  }
  .label-final-mask
  {
    position: relative;

    overflow: hidden;

    width: 315px;
    height: 223px;
    img
    {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .label-final-template
  {
    position: absolute;
    z-index: 40;
    bottom: 140px;

    width: 315px;
    height: 224px;
  }
  .label-final-txt
  {
    position: absolute;
    z-index: 40;

    display: block;

    width: 278px;
    height: 48px;
    margin: 0 18px;

    text-align: center;
    word-wrap: break-word;

    color: white;
    span
    {
      font-size: 18px;

      color: white;
    }
    &.label-final-txt-first
    {
      top: 186px;
    }
    &.label-final-txt-second
    {
      bottom: 78px;
    }
  }
}


.th-image-filters
{
  .th-filter-item
  {
    display: inline-block;

    padding: 1em;

    text-align: center;
    vertical-align: middle;

    border: 1px solid color('white','shade');
  }
  .th-filter-control
  {
    display: inline-block;

    width: 100%;
  }
}

.th-headlines
{
  .control-label
  {
    font-size: 11px;
    font-weight: normal;

    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.blackwhite
{
  -webkit-filter: grayscale(100%);

  filter: grayscale(100%);

  filter: gray;

  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

.sepia
{
  zoom: 1;

  background-color: #5e2612;
  filter: url("data:text/plain;charset=utf-8;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogIDxmaWx0ZXIgaWQ9Im9sZC10aW1leSI+DQogICAgPGZlQ29sb3JNYXRyaXggdmFsdWVzPSIwLjE0IDAuNDUgMC4wNSAwIDANCiAgICAgIDAuMTIgMC4zOSAwLjA0IDAgMA0KICAgICAgMC4wOCAwLjI4IDAuMDMgMCAwDQogICAgICAwIDAgMCAxIDAiPjwvZmVDb2xvck1hdHJpeD4NCiAgPC9maWx0ZXI+DQo8L3N2Zz4=");
  filter: sepia(100%);
  filter: alpha(opacity=50);
}


.ff-stack.serif-a
{
  font-family: 'Times New Roman', Times, serif;
}
.ff-stack.serif-b
{
  font-family: Georgia, serif;
}
.ff-stack.sans-a
{
  font-family: Arial, Helvetica, sans-serif;
}
.ff-stack.sans-b
{
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
.ff-stack.sans-c
{
  font-family: Impact, Charcoal, sans-serif;
}


.wizard-view-summary
{
  .th-summary
  {
    width: 600px;
    margin: 2em auto;
    .th-summary-price
    {
      font-size: 18px;

      text-align: right;

      color: color('gold');
      strong
      {
        font-size: 14px;

        padding-right: 1em;

        letter-spacing: 2px;
        text-transform: uppercase;

        color: color('gray');
      }
    }
  }
  .th-summary-renders
  {
    display: table;

    width: 100%;

    text-align: justify;
    > li
    {
      display: inline-block;

      margin: .5em;

      vertical-align: middle;

      border: 1px solid color('white','shade');
      background: white;
      img
      {
        padding: 1em;
      }
    }
  }
}
