<div class="main-menu" ng-class="{ 'collapsed' : action }">
  <div class="background"></div>

  <!-- Folded menu -->
  <div class="thin">
    <div class="logo">
      <a class="logo-image" title="Abrir Menú Principal">Tequila Hacienda Maravatio</a>
    </div>
    <div class="sign-in">
      <a href="" title="Iniciar Sesión">
        <span class="sign-in-icon"></span>
        <!-- <span class="sign-in-label">Iniciar</span> -->
      </a>
    </div>
  </div>

 <!--  Spread out menu -->
  <div class="wide">
    <div class="nav-centerer">
      <div class="logo">
        <span ng-click="collapseMenu()" class="logo-image">Tequila Hacienda Maravatio</span>
      </div>
      <span class="title">Selecciona el tequila de tu preferencia y personaliza tu etiqueta.</span>
      <ul class="list-unstyled type-list">
      <li ng-repeat="type in types" th-tequila-card th-type="type" th-size="200" th-selected="selected(type)"></li>
    </ul>
    </div>
    <div class="tequila-finder">
      <span class="title">Haz que ese momento perdure por siempre.</span>
      <a href="" class="btn btn-primary">Perzonaliza Ahora</a>
    </div>
    <div class="footer">
      <ul class="list-unstyled">
        <li><a href="">Tienda</a></li>
        <li><a href="">Contactanos</a></li>
        <li><a href="">Términos y Condiciones</a></li>
        <li><a href="">Desarrollado por MuchaWeb</a></li>
      </ul>
    </div>
  </div>

  <div class="main-close-button-wrapper">
    <div class="main-close-button">
      <a href="#" class="logo-image">Tequila Hacienda Maravatio</a>
    </div>
  </div>
</div>
